@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.register {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  padding: $spacing-xl 0;

  &__wrapper {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
  }

  &__card {
    // Styles from Card component
  }

  &__title {
    text-align: center;
    color: $color-primary;
    margin-bottom: $spacing-sm;
  }

  &__subtitle {
    text-align: center;
    color: $color-text-secondary;
    margin-bottom: $spacing-xl;
  }

  &__form {
    // Form styles handled by FormField
  }

  &__form-row {
    display: grid;
    gap: $spacing-md;
    grid-template-columns: 1fr;

    @include responsive("sm") {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__footer {
    margin-top: $spacing-xl;
    padding-top: $spacing-lg;
    border-top: 1px solid $border-color;
  }

  &__footer-text {
    text-align: center;
    color: $color-text-secondary;
  }

  &__link {
    color: $color-primary;
    font-weight: $font-weight-medium;

    &:hover {
      text-decoration: underline;
    }
  }
}
