@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.avatar {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, $primary-color, $primary-dark);
  color: white;
  font-weight: 600;
  flex-shrink: 0;

  &--sm {
    width: 32px;
    height: 32px;
    font-size: 0.75rem;
  }

  &--md {
    width: 40px;
    height: 40px;
    font-size: 0.875rem;
  }

  &--lg {
    width: 56px;
    height: 56px;
    font-size: 1.125rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__initials {
    user-select: none;
  }
}
