@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.button {
  @include button-base;

  // Variants
  &--primary {
    background-color: $color-primary;
    color: $color-white;
    border-color: $color-primary;

    &:hover:not(:disabled) {
      background-color: $color-primary-dark;
      border-color: $color-primary-dark;
    }
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-white;
    border-color: $color-secondary;

    &:hover:not(:disabled) {
      background-color: $color-secondary-dark;
      border-color: $color-secondary-dark;
    }
  }

  &--success {
    background-color: $color-success;
    color: $color-white;
    border-color: $color-success;

    &:hover:not(:disabled) {
      background-color: $color-success-dark;
      border-color: $color-success-dark;
    }
  }

  &--warning {
    background-color: $color-warning;
    color: $color-white;
    border-color: $color-warning;

    &:hover:not(:disabled) {
      background-color: $color-warning-dark;
      border-color: $color-warning-dark;
    }
  }

  &--error {
    background-color: $color-error;
    color: $color-white;
    border-color: $color-error;

    &:hover:not(:disabled) {
      background-color: $color-error-dark;
      border-color: $color-error-dark;
    }
  }

  &--ghost {
    background-color: transparent;
    color: $color-primary;
    border-color: $color-primary;

    &:hover:not(:disabled) {
      background-color: rgba($color-primary, 0.1);
    }
  }

  // Sizes
  &--sm {
    padding: $spacing-xs $spacing-md;
    font-size: $font-size-sm;
  }

  &--md {
    padding: $spacing-sm $spacing-lg;
    font-size: $font-size-md;
  }

  &--lg {
    padding: $spacing-md $spacing-xl;
    font-size: $font-size-lg;
  }

  // Modifiers
  &--full-width {
    width: 100%;
  }

  &--loading {
    position: relative;
    pointer-events: none;

    .button__content {
      opacity: 0.5;
    }
  }

  // Elements
  &__spinner {
    position: absolute;
    width: 1em;
    height: 1em;
    border: 2px solid currentColor;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
